@import "compass";
@import "variables.scss";
@import "mixins.scss";

.button {
	@include border-radius(4px);
	@include box-shadow(inset 0 -4px 0 rgba(0, 0, 0, 0.2));
	@include box-sizing(border-box);
	@include transition(background-color 0.2s ease-out);
	font-size: 0.8125em;
	color: $white;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	min-width: 85px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		@include box-shadow(none);
		position: relative;
		top: 1px;
	}
	&.green {
		background-color: $green-1;
	}
	&.green:hover {
		background-color: transparentize($green-1, 0.3);
	}
	&.blue {
		background-color: $blue-1;
	}
	&.blue:hover {
		background-color: transparentize($blue-1, 0.3);
	}
	&.red {
		background-color: $red-1;
	}
	&.red:hover {
		background-color:transparentize($red-1, 0.3);
	}
	&.gray {
		background-color:$gray-7;
		color: $gray-2;
	}
	&.gray:hover {
		background-color: transparentize($gray-7, 0.3);
	}
	&.large {
		height: 45px;
		line-height: 45px;
		padding: 0 20px;
		min-width: 110px;
		font-size: 1rem;
		letter-spacing: 0;
	}
	&.small {
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		min-width: 65px;
		font-size: 0.6875rem;
		letter-spacing: 0;
	}
}