@import "mixins.scss";

.row{
	width: 100%;
}
.row:before, .row:after{
	content: "";
	display: table;
}
.row:after{
	clear: both;
}
.col{
	display: block;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	&.ml-s1{
		margin-left: percentage((1/12)*1 + 0.01);
	}
	&.ml-s2{
		margin-left: percentage((1/12)*2 + 0.01);
	}
	&.ml-s3{
		margin-left: percentage((1/12)*3 + 0.01);
	}
	&.ml-s4{
		margin-left: percentage((1/12)*4 + 0.01);
	}
	&.ml-s5{
		margin-left: percentage((1/12)*5 + 0.01);
	}
	&.ml-s6{
		margin-left: percentage((1/12)*6 + 0.01);
	}
	&.ml-s7{
		margin-left: percentage((1/12)*7 + 0.01);
	}
	&.ml-s8{
		margin-left: percentage((1/12)*8 + 0.01);
	}
	&.ml-s9{
		margin-left: percentage((1/12)*9 + 0.01);
	}
	&.ml-s10{
		margin-left: percentage((1/12)*10 + 0.01);
	}
	&.ml-s11{
		margin-left: percentage((1/12)*11 + 0.01);
	}
	&.mr-s1{
		margin-right: percentage((1/12)*1 + 0.01);
	}
	&.mr-s2{
		margin-right: percentage((1/12)*2 + 0.01);
	}
	&.mr-s3{
		margin-right: percentage((1/12)*3 + 0.01);
	}
	&.mr-s4{
		margin-right: percentage((1/12)*4 + 0.01);
	}
	&.mr-s5{
		margin-right: percentage((1/12)*5 + 0.01);
	}
	&.mr-s6{
		margin-right: percentage((1/12)*6 + 0.01);
	}
	&.mr-s7{
		margin-right: percentage((1/12)*7 + 0.01);
	}
	&.mr-s8{
		margin-right: percentage((1/12)*8 + 0.01);
	}
	&.mr-s9{
		margin-right: percentage((1/12)*9 + 0.01);
	}
	&.mr-s10{
		margin-right: percentage((1/12)*10 + 0.01);
	}
	&.mr-s11{
		margin-right: percentage((1/12)*11 + 0.01);
	}
	&.push-s1{
		@include push(1);
	}
	&.push-s2{
		@include push(2);
	}
	&.push-s3{
		@include push(3);
	}
	&.push-s4{
		@include push(4);
	}
	&.push-s5{
		@include push(5);
	}
	&.push-s7{
		@include push(7);
	}
	&.push-s8{
		@include push(8);
	}
	&.push-s9{
		@include push(9);
	}
	&.push-s10{
		@include push(10);
	}
	&.push-s11{
		@include push(11);
	}	
	&.pull-s1{
		@include pull(1);
	}
	&.pull-s2{
		@include pull(2);
	}
	&.pull-s3{
		@include pull(3);
	}
	&.pull-s4{
		@include pull(4);
	}
	&.pull-s5{
		@include pull(5);
	}
	&.pull-s7{
		@include pull(7);
	}
	&.pull-s8{
		@include pull(8);
	}
	&.pull-s9{
		@include pull(9);
	}
	&.pull-s10{
		@include pull(10);
	}
	&.pull-s11{
		@include pull(11);
	}
	&.noMargin{
		margin-left: 0;
		margin-right: 0;
		&.ml-s1{
			margin-left: percentage((1/12)*1);
		}
		&.ml-s2{
			margin-left: percentage((1/12)*2);
		}
		&.ml-s3{
			margin-left: percentage((1/12)*3);
		}
		&.ml-s4{
			margin-left: percentage((1/12)*4);
		}
		&.ml-s5{
			margin-left: percentage((1/12)*5);
		}
		&.ml-s6{
			margin-left: percentage((1/12)*6);
		}
		&.ml-s7{
			margin-left: percentage((1/12)*7);
		}
		&.ml-s8{
			margin-left: percentage((1/12)*8);
		}
		&.ml-s9{
			margin-left: percentage((1/12)*9);
		}
		&.ml-s10{
			margin-left: percentage((1/12)*10);
		}
		&.ml-s11{
			margin-left: percentage((1/12)*11);
		}
		&.mr-s1{
			margin-right: percentage((1/12)*1);
		}
		&.mr-s2{
			margin-right: percentage((1/12)*2);
		}
		&.mr-s3{
			margin-right: percentage((1/12)*3);
		}
		&.mr-s4{
			margin-right: percentage((1/12)*4);
		}
		&.mr-s5{
			margin-right: percentage((1/12)*5);
		}
		&.mr-s6{
			margin-right: percentage((1/12)*6);
		}
		&.mr-s7{
			margin-right: percentage((1/12)*7);
		}
		&.mr-s8{
			margin-right: percentage((1/12)*8);
		}
		&.mr-s9{
			margin-right: percentage((1/12)*9);
		}
		&.mr-s10{
			margin-right: percentage((1/12)*10);
		}
		&.mr-s11{
			margin-right: percentage((1/12)*11);
		}
	}
}
.s12{
	@include colWidth(12);
}
.s11{
	@include colWidth(11);
}
.s10{
	@include colWidth(10);
}
.s9{
	@include colWidth(9);
}
.s8{
	@include colWidth(8);
}
.s7{
	@include colWidth(7);
}
.s6{
	@include colWidth(6);
}
.s5{
	@include colWidth(5);
}
.s4{
	@include colWidth(4);
}
.s3{
	@include colWidth(3);
}
.s2{
	@include colWidth(2);
}
.s1{
	@include colWidth(1);
}
.centered{
	float: none;
	margin: 0 auto;
}
@media (max-width: 767px){
	.s0{
		display: none!important;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.m0{
		display: none!important;
	}
}
@media (min-width: 768px){
	.col{
		&.ml-m1{
			margin-left: percentage((1/12)*1 + 0.01);
		}
		&.ml-m2{
			margin-left: percentage((1/12)*2 + 0.01);
		}
		&.ml-m3{
			margin-left: percentage((1/12)*3 + 0.01);
		}
		&.ml-m4{
			margin-left: percentage((1/12)*4 + 0.01);
		}
		&.ml-m5{
			margin-left: percentage((1/12)*5 + 0.01);
		}
		&.ml-m6{
			margin-left: percentage((1/12)*6 + 0.01);
		}
		&.ml-m7{
			margin-left: percentage((1/12)*7 + 0.01);
		}
		&.ml-m8{
			margin-left: percentage((1/12)*8 + 0.01);
		}
		&.ml-m9{
			margin-left: percentage((1/12)*9 + 0.01);
		}
		&.ml-m10{
			margin-left: percentage((1/12)*10 + 0.01);
		}
		&.ml-m11{
			margin-left: percentage((1/12)*11 + 0.01);
		}
		&.mr-m1{
			margin-right: percentage((1/12)*1 + 0.01);
		}
		&.mr-m2{
			margin-right: percentage((1/12)*2 + 0.01);
		}
		&.mr-m3{
			margin-right: percentage((1/12)*3 + 0.01);
		}
		&.mr-m4{
			margin-right: percentage((1/12)*4 + 0.01);
		}
		&.mr-m5{
			margin-right: percentage((1/12)*5 + 0.01);
		}
		&.mr-m6{
			margin-right: percentage((1/12)*6 + 0.01);
		}
		&.mr-m7{
			margin-right: percentage((1/12)*7 + 0.01);
		}
		&.mr-m8{
			margin-right: percentage((1/12)*8 + 0.01);
		}
		&.mr-m9{
			margin-right: percentage((1/12)*9 + 0.01);
		}
		&.mr-m10{
			margin-right: percentage((1/12)*10 + 0.01);
		}
		&.mr-m11{
			margin-right: percentage((1/12)*11 + 0.01);
		}
		&.push-m1{
			@include push(1);
		}
		&.push-m2{
			@include push(2);
		}
		&.push-m3{
			@include push(3);
		}
		&.push-m4{
			@include push(4);
		}
		&.push-m5{
			@include push(5);
		}
		&.push-m7{
			@include push(7);
		}
		&.push-m8{
			@include push(8);
		}
		&.push-m9{
			@include push(9);
		}
		&.push-m10{
			@include push(10);
		}
		&.push-m11{
			@include push(11);
		}	
		&.pull-m1{
			@include pull(1);
		}
		&.pull-m2{
			@include pull(2);
		}
		&.pull-m3{
			@include pull(3);
		}
		&.pull-m4{
			@include pull(4);
		}
		&.pull-m5{
			@include pull(5);
		}
		&.pull-m7{
			@include pull(7);
		}
		&.pull-m8{
			@include pull(8);
		}
		&.pull-m9{
			@include pull(9);
		}
		&.pull-m10{
			@include pull(10);
		}
		&.pull-m11{
			@include pull(11);
		}
		&.noMargin{
			&.ml-m1{
				margin-left: percentage((1/12)*1);
			}
			&.ml-m2{
				margin-left: percentage((1/12)*2);
			}
			&.ml-m3{
				margin-left: percentage((1/12)*3);
			}
			&.ml-m4{
				margin-left: percentage((1/12)*4);
			}
			&.ml-m5{
				margin-left: percentage((1/12)*5);
			}
			&.ml-m6{
				margin-left: percentage((1/12)*6);
			}
			&.ml-m7{
				margin-left: percentage((1/12)*7);
			}
			&.ml-m8{
				margin-left: percentage((1/12)*8);
			}
			&.ml-m9{
				margin-left: percentage((1/12)*9);
			}
			&.ml-m10{
				margin-left: percentage((1/12)*10);
			}
			&.ml-m11{
				margin-left: percentage((1/12)*11);
			}
			&.mr-m1{
				margin-right: percentage((1/12)*1);
			}
			&.mr-m2{
				margin-right: percentage((1/12)*2);
			}
			&.mr-m3{
				margin-right: percentage((1/12)*3);
			}
			&.mr-m4{
				margin-right: percentage((1/12)*4);
			}
			&.mr-m5{
				margin-right: percentage((1/12)*5);
			}
			&.mr-m6{
				margin-right: percentage((1/12)*6);
			}
			&.mr-m7{
				margin-right: percentage((1/12)*7);
			}
			&.mr-m8{
				margin-right: percentage((1/12)*8);
			}
			&.mr-m9{
				margin-right: percentage((1/12)*9);
			}
			&.mr-m10{
				margin-right: percentage((1/12)*10);
			}
			&.mr-m11{
				margin-right: percentage((1/12)*11);
			}
		}
	}
	.m12{
		@include colWidth(12);
	}
	.m11{
		@include colWidth(11);
	}
	.m10{
		@include colWidth(10);
	}
	.m9{
		@include colWidth(9);
	}
	.m8{
		@include colWidth(8);
	}
	.m7{
		@include colWidth(7);
	}
	.m6{
		@include colWidth(6);
	}
	.m5{
		@include colWidth(5);
	}
	.m4{
		@include colWidth(4);
	}
	.m3{
		@include colWidth(3);
	}
	.m2{
		@include colWidth(2);
	}
	.m1{
		@include colWidth(1);
	}

}
@media (min-width: 1025px) and (max-width: 1279px){
	.l0{
		display: none!important;
	}
}
@media (min-width: 1025px){
	.col{
		&.push-l1{
			@include push(1);
		}
		&.push-l2{
			@include push(2);
		}
		&.push-l3{
			@include push(3);
		}
		&.push-l4{
			@include push(4);
		}
		&.push-l5{
			@include push(5);
		}
		&.push-l7{
			@include push(7);
		}
		&.push-l8{
			@include push(8);
		}
		&.push-l9{
			@include push(9);
		}
		&.push-l10{
			@include push(10);
		}
		&.push-l11{
			@include push(11);
		}	
		&.pull-l1{
			@include pull(1);
		}
		&.pull-l2{
			@include pull(2);
		}
		&.pull-l3{
			@include pull(3);
		}
		&.pull-l4{
			@include pull(4);
		}
		&.pull-l5{
			@include pull(5);
		}
		&.pull-l7{
			@include pull(7);
		}
		&.pull-l8{
			@include pull(8);
		}
		&.pull-l9{
			@include pull(9);
		}
		&.pull-l10{
			@include pull(10);
		}
		&.pull-l11{
			@include pull(11);
		}
		&.ml-l1{
			margin-left: percentage((1/12)*1 + 0.01);
		}
		&.ml-l2{
			margin-left: percentage((1/12)*2 + 0.01);
		}
		&.ml-l3{
			margin-left: percentage((1/12)*3 + 0.01);
		}
		&.ml-l4{
			margin-left: percentage((1/12)*4 + 0.01);
		}
		&.ml-l5{
			margin-left: percentage((1/12)*5 + 0.01);
		}
		&.ml-l6{
			margin-left: percentage((1/12)*6 + 0.01);
		}
		&.ml-l7{
			margin-left: percentage((1/12)*7 + 0.01);
		}
		&.ml-l8{
			margin-left: percentage((1/12)*8 + 0.01);
		}
		&.ml-l9{
			margin-left: percentage((1/12)*9 + 0.01);
		}
		&.ml-l10{
			margin-left: percentage((1/12)*10 + 0.01);
		}
		&.ml-l11{
			margin-left: percentage((1/12)*11 + 0.01);
		}
		&.mr-l1{
			margin-right: percentage((1/12)*1 + 0.01);
		}
		&.mr-l2{
			margin-right: percentage((1/12)*2 + 0.01);
		}
		&.mr-l3{
			margin-right: percentage((1/12)*3 + 0.01);
		}
		&.mr-l4{
			margin-right: percentage((1/12)*4 + 0.01);
		}
		&.mr-l5{
			margin-right: percentage((1/12)*5 + 0.01);
		}
		&.mr-l6{
			margin-right: percentage((1/12)*6 + 0.01);
		}
		&.mr-l7{
			margin-right: percentage((1/12)*7 + 0.01);
		}
		&.mr-l8{
			margin-right: percentage((1/12)*8 + 0.01);
		}
		&.mr-l9{
			margin-right: percentage((1/12)*9 + 0.01);
		}
		&.mr-l10{
			margin-right: percentage((1/12)*10 + 0.01);
		}
		&.mr-l11{
			margin-right: percentage((1/12)*11 + 0.01);
		}
		&.noMargin{
			&.ml-l1{
				margin-left: percentage((1/12)*1);
			}
			&.ml-l2{
				margin-left: percentage((1/12)*2);
			}
			&.ml-l3{
				margin-left: percentage((1/12)*3);
			}
			&.ml-l4{
				margin-left: percentage((1/12)*4);
			}
			&.ml-l5{
				margin-left: percentage((1/12)*5);
			}
			&.ml-l6{
				margin-left: percentage((1/12)*6);
			}
			&.ml-l7{
				margin-left: percentage((1/12)*7);
			}
			&.ml-l8{
				margin-left: percentage((1/12)*8);
			}
			&.ml-l9{
				margin-left: percentage((1/12)*9);
			}
			&.ml-l10{
				margin-left: percentage((1/12)*10);
			}
			&.ml-l11{
				margin-left: percentage((1/12)*11);
			}
			&.mr-l1{
				margin-right: percentage((1/12)*1);
			}
			&.mr-l2{
				margin-right: percentage((1/12)*2);
			}
			&.mr-l3{
				margin-right: percentage((1/12)*3);
			}
			&.mr-l4{
				margin-right: percentage((1/12)*4);
			}
			&.mr-l5{
				margin-right: percentage((1/12)*5);
			}
			&.mr-l6{
				margin-right: percentage((1/12)*6);
			}
			&.mr-l7{
				margin-right: percentage((1/12)*7);
			}
			&.mr-l8{
				margin-right: percentage((1/12)*8);
			}
			&.mr-l9{
				margin-right: percentage((1/12)*9);
			}
			&.mr-l10{
				margin-right: percentage((1/12)*10);
			}
			&.mr-l11{
				margin-right: percentage((1/12)*11);
			}
		}
	}	
	.l12{
		@include colWidth(12);
	}
	.l11{
		@include colWidth(11);
	}
	.l10{
		@include colWidth(10);
	}
	.l9{
		@include colWidth(9);
	}
	.l8{
		@include colWidth(8);
	}
	.l7{
		@include colWidth(7);
	}
	.l6{
		@include colWidth(6);
	}
	.l5{
		@include colWidth(5);
	}
	.l4{
		@include colWidth(4);
	}
	.l3{
		@include colWidth(3);
	}
	.l2{
		@include colWidth(2);
	}
	.l1{
		@include colWidth(1);
	}

}
@media (min-width: 1280px) {
	.col{
		&.push-xl1{
			@include push(1);
		}
		&.push-xl2{
			@include push(2);
		}
		&.push-xl3{
			@include push(3);
		}
		&.push-xl4{
			@include push(4);
		}
		&.push-xl5{
			@include push(5);
		}
		&.push-xl7{
			@include push(7);
		}
		&.push-xl8{
			@include push(8);
		}
		&.push-xl9{
			@include push(9);
		}
		&.push-xl10{
			@include push(10);
		}
		&.push-xl11{
			@include push(11);
		}	
		&.pull-xl1{
			@include pull(1);
		}
		&.pull-xl2{
			@include pull(2);
		}
		&.pull-xl3{
			@include pull(3);
		}
		&.pull-xl4{
			@include pull(4);
		}
		&.pull-xl5{
			@include pull(5);
		}
		&.pull-xl7{
			@include pull(7);
		}
		&.pull-xl8{
			@include pull(8);
		}
		&.pull-xl9{
			@include pull(9);
		}
		&.pull-xl10{
			@include pull(10);
		}
		&.pull-xl11{
			@include pull(11);
		}
		&.ml-xl1{
			margin-left: percentage((1/12)*1 + 0.01);
		}
		&.ml-xl2{
			margin-left: percentage((1/12)*2 + 0.01);
		}
		&.ml-xl3{
			margin-left: percentage((1/12)*3 + 0.01);
		}
		&.ml-xl4{
			margin-left: percentage((1/12)*4 + 0.01);
		}
		&.ml-xl5{
			margin-left: percentage((1/12)*5 + 0.01);
		}
		&.ml-xl6{
			margin-left: percentage((1/12)*6 + 0.01);
		}
		&.ml-xl7{
			margin-left: percentage((1/12)*7 + 0.01);
		}
		&.ml-xl8{
			margin-left: percentage((1/12)*8 + 0.01);
		}
		&.ml-xl9{
			margin-left: percentage((1/12)*9 + 0.01);
		}
		&.ml-xl10{
			margin-left: percentage((1/12)*10 + 0.01);
		}
		&.ml-xl11{
			margin-left: percentage((1/12)*11 + 0.01);
		}
		&.mr-xl1{
			margin-right: percentage((1/12)*1 + 0.01);
		}
		&.mr-xl2{
			margin-right: percentage((1/12)*2 + 0.01);
		}
		&.mr-xl3{
			margin-right: percentage((1/12)*3 + 0.01);
		}
		&.mr-xl4{
			margin-right: percentage((1/12)*4 + 0.01);
		}
		&.mr-xl5{
			margin-right: percentage((1/12)*5 + 0.01);
		}
		&.mr-xl6{
			margin-right: percentage((1/12)*6 + 0.01);
		}
		&.mr-xl7{
			margin-right: percentage((1/12)*7 + 0.01);
		}
		&.mr-xl8{
			margin-right: percentage((1/12)*8 + 0.01);
		}
		&.mr-xl9{
			margin-right: percentage((1/12)*9 + 0.01);
		}
		&.mr-xl10{
			margin-right: percentage((1/12)*10 + 0.01);
		}
		&.mr-xl11{
			margin-right: percentage((1/12)*11 + 0.01);
		}
		&.noMargin{
			&.ml-xl1{
				margin-left: percentage((1/12)*1);
			}
			&.ml-xl2{
				margin-left: percentage((1/12)*2);
			}
			&.ml-xl3{
				margin-left: percentage((1/12)*3);
			}
			&.ml-xl4{
				margin-left: percentage((1/12)*4);
			}
			&.ml-xl5{
				margin-left: percentage((1/12)*5);
			}
			&.ml-xl6{
				margin-left: percentage((1/12)*6);
			}
			&.ml-xl7{
				margin-left: percentage((1/12)*7);
			}
			&.ml-xl8{
				margin-left: percentage((1/12)*8);
			}
			&.ml-xl9{
				margin-left: percentage((1/12)*9);
			}
			&.ml-xl10{
				margin-left: percentage((1/12)*10);
			}
			&.ml-xl11{
				margin-left: percentage((1/12)*11);
			}
			&.mr-xl1{
				margin-right: percentage((1/12)*1);
			}
			&.mr-xl2{
				margin-right: percentage((1/12)*2);
			}
			&.mr-xl3{
				margin-right: percentage((1/12)*3);
			}
			&.mr-xl4{
				margin-right: percentage((1/12)*4);
			}
			&.mr-xl5{
				margin-right: percentage((1/12)*5);
			}
			&.mr-xl6{
				margin-right: percentage((1/12)*6);
			}
			&.mr-xl7{
				margin-right: percentage((1/12)*7);
			}
			&.mr-xl8{
				margin-right: percentage((1/12)*8);
			}
			&.mr-xl9{
				margin-right: percentage((1/12)*9);
			}
			&.mr-xl10{
				margin-right: percentage((1/12)*10);
			}
			&.mr-xl11{
				margin-right: percentage((1/12)*11);
			}
		}
	}
	.xl12{
		@include colWidth(12);
	}
	.xl11{
		@include colWidth(11);
	}
	.xl10{
		@include colWidth(10);
	}
	.xl9{
		@include colWidth(9);
	}
	.xl8{
		@include colWidth(8);
	}
	.xl7{
		@include colWidth(7);
	}
	.xl6{
		@include colWidth(6);
	}
	.xl5{
		@include colWidth(5);
	}
	.xl4{
		@include colWidth(4);
	}
	.xl3{
		@include colWidth(3);
	}
	.xl2{
		@include colWidth(2);
	}
	.xl1{
		@include colWidth(1);
	}
	.xl0{
		display: none!important;
	}
}