@import "compass";
@import "variables.scss";
@import "mixins.scss";
body{
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 16px;
	color:$gray-1;
}

*{
	@include box-sizing(border-box);
}
.wrapper{
	width: 100%;
	max-width: 75em;
	margin: 0 auto;
}
header{
	background-color: $gray-2;
	color: $white;
}
h1, h2, h3, h4, h5, h6{
	margin: 0.5em 0;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.85em;
}
h4{
	font-size: 1.5em;
}
h5{
	font-size: 1em;
}
h6{
	font-size: 0.85em;
}
main{
	background-color: $gray-7;
	section{
		background-color: $gray-8;
		padding: 2em 0;
		ul{
			background-color: $gray-6;

		}
		article, li{
			margin-top: 1em;
			padding: 1em;
			font-size: 1em;
			&.noMargin{
				background-color: $red-1;
				border: 1px solid $gray-8;
				color: $white;
			}
			&[class*="mr-"]{
				float: right;
			}
			&.blue{
				background-color: $blue-1;
				border: 1px solid $gray-8;
				color: $white;
			}

		}
	}
}